body {
    background-color: #cacbe0; 
    font-family: Arial, sans-serif; 
}

h1 {
    color: #7a2ed0;
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #020202;
}

a {
    color: #9744e0;
    text-decoration: none;
    font-weight: bold;
    
}

img {
    width: 350px;
    border-radius: 10px;
    display: block;
    margin: 20px auto; 
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}